/* ---- this is for page 8 ---- */
.companyName10 {
    top: 187px;
    left: 193px;
    width: 383px;
  
    position: absolute;
}

.ASH3tittleMR {
     top: 357.5px;
    left: 242px;
    width: 14px;
    height: 14px;
    position: absolute;
}

.ASH3tittleMRS {
    top: 357.5px;
    left: 315.5px;
    width: 14px;
    height: 14px;
    position: absolute;
}

.ASH3tittleMISS {
    top: 357.5px;
    left: 386px;
    width: 14px;
    height: 14px;
    position: absolute;
}

.ASH3tittleMS {
   top: 357.5px;
    left: 459px;
    width: 14px;
    height: 14px;
    position: absolute;
}

.ASH3tittleDR {
    top: 357.5px;
    left: 531px;
    width: 14px;
    height: 14px;
    position: absolute;
}

.ASH3FirstName {
    top: 375px;
    left: 193px;
    width: 383px;
  
    position: absolute;
}

.ASH3MiddleName {
    top: 394px;
    left: 193px;
    width: 383px;
   
    position: absolute;
}

.ASH3LastName {
    top: 413px;
    left: 193px;
    width: 383px;
   
    position: absolute;
}

.ASH3FormerName {
    top: 432px;
    left: 193px;
    width: 383px;
    position: absolute;
}

.ASH3TIN {
    top: 451px;
    left: 193px;
    width: 383px;
    position: absolute;
}

.ASH3GhanaCard {
    top: 470px;
    left: 330px;
    width: 238px;
  
    position: absolute;
}

.ASH3genderMale {
    top: 508px;
    left: 242px;
    width: 14px;
    height: 14px;
    position: absolute;
}

.ASH3genderFemale {
    top: 508px;
    left: 338px;
    width: 14px;
    height: 14px;
    position: absolute;
}

.ASH3DOB {
    top: 525px;
    left: 193px;
    width: 383px;

    position: absolute;
}

.ASH3POB {
    top: 545px;
    left: 193px;
    width: 383px;

    position: absolute;
}

.ASH3Nationality {
    top: 564px;
    left: 193px;
    width: 383px;
   
    position: absolute;
}

.ASH3Occupation {
    top: 582px;
    left: 193px;
    width: 383px;
    position: absolute;
}

.ASH3DigitalAddress {
    top: 603px;
    left: 193px;
    width: 383px;
    position: absolute;
}

.ASH3Landmark {
    top: 620px;
    left: 193px;
    width: 383px;

    position: absolute;
}

.ASH3housenumber {
    top: 639px;
    left: 193px;
    width: 383px;
  
    position: absolute;
}

.ASH3Town {
    top: 658px;
    left: 193px;
    width: 383px;
   
    position: absolute;
}

.ASH3NoOfShare {
    top: 677px;
    left: 193px;
    width: 383px;
    position: absolute;
}

.ASH3ShareAmount {
    top: 696px;
    left: 258px;
    width: 193px;
  
    position: absolute;
}

.ash3-signature {

    top: 504px;
    left: 280px;
    width: 157px;
    height: 39px;
    padding-top: 15px;
    position: absolute;
}
